div.article-item-productinfo{
    margin-right: 25px;
}
.fa-info-circle{
    right: 5px;
}
.container-fluid{
    background-image: url(../img/michael-browning-MtqG1lWcUw0-unsplash.jpg);
    background-repeat: no-repeat;
    height: 90vh;
}
.titelbereich{
    width: 40vw;
    font-size: 18px;
    line-height: 35px;
    color: white;
    text-align: center;
    padding: 20px;
}
.titelbereich h2{
    color: white;
    margin-bottom: 0;
}

hr{
    width: 40vw;
    margin-left: 25px;
    background-color: #DD1617;
    height: 1.5px;
    border: 0;

}
.fa-utensils{
    font-size: 30px;
    animation: grow 0.6s linear; 
}